body
{
background-color:#171517;
}

.button {
    width: 70px;
    height: 50px;
    margin: 3px;
    border-radius: 2px;
    border-color:#21261d;
    font-size: 180%;
    font-family: "Calibri", sans-serif;
    font-weight: lighter;
    text-align: center;
    background-color: transparent;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

.button:hover {
    background-color: gray;
    width: 76px;
    height: 56px;
    margin: 0px;
}

#back {
    width: 150px;
}

#back:hover {
    width: 156px;
}

#output {
      background-color: white;
      margin: 5px;
      font-size: 25px;
      min-height: 30px;
}

#textbox {
    width: 350px;
}