body {
background-color: white;
color: #292929;
}



#lightButton {
    width: 0px;
    font-size: 0px;
    margin: 0px;
    padding: 0px;
    position: relative;
    left: 0px;
}




.container {
    border-color: #a6a6a6;
}



.operation {
    background-color: #dfe1e5;
}

.operation:hover {
    background-color: #c8c9cc;
}


.number {
    background-color: #f1f3f4;
}

.number:hover {
    background-color: #e8eaeb;
}


.colored {
    background-color: #4285f4;
    color: white;
}

.colored:hover {
    background-color: #5393fc;
}



#textbox {
    border-color: #a6a6a6;
}

#textbox:hover {
    border-color: #292929;
}

#output {
    color: #292929;
}