body {
background-color: white;
color: #ff4301;
}



#orangeButton {
    width: 0px;
    font-size: 0px;
    margin: 0px;
    padding: 0px;
}



.container {
    border-color: #ff4301;
}



.operation {
    background-color: #dfe1e5;
}

.operation:hover {
    background-color: #c8c9cc;
}


.number {
    background-color: #f1f3f4;
}

.number:hover {
    background-color: #e8eaeb;
}


.colored {
    background-color: #ff4301;
    color: white;
}

.colored:hover {
    background-color: #ba3b0f;
}



#textbox {
    border-color: #ff4301;
}

#textbox:hover {
    border-color: #292929;
}

#output {
    color: #292929;
}